name: Sync to Hugging Face Space

on:
  push:
    branches:
      - main

jobs:
  sync:
    runs-on: ubuntu-latest
    env:
      UV_LINK_MODE: copy
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true
          
      - name: Push to Hugging Face
        env:
          DEEPSEEK_API_KEY: sk-b968b6d02af6415b873a02357001f3f0
          PUSHOVER_USER:  up8qrj38eq2oj8t2jtk9r9pg746j6a
          PUSHOVER_TOKEN:  az13mkxc29myx9ovvmdikknofcfr1f
          RESEND_API_KEY: re_SyeLmyap_E6jxoSkLENwAmZyDpRk7n1HH 
          GMAIL_FROM: mo0630571@gmail.com
          GMAIL_TO: shima.mojapelo@gmail.com
          SERPER_API_KEY: db45b8b6723cde69b3b4850472a505577554b614
          LANGSMITH_TRACING: true
          LANGSMITH_ENDPOINT: https://api.smith.langchain.com
          LANGSMITH_API_KEY: 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
          LANGSMITH_PROJECT: pr-rundown-control-39
          ANTHROPIC_API_KEY: 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
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          git remote add hf https://Shima92:$HF_TOKEN@huggingface.co/spaces/Shima92/My_Sidekick
          git push hf main --force
